@import "tailwindcss";



  :root {
    --background: #f8f7f3;
    --text-primary: #1A431F;
    --green-1:#456E44;
    --green-2: #37533D;
    --yellow: #DFAC41;
    --red: #C35230;
    --ligth: #FDFDFD;
  }

body {
  background: var(--background);
  color: var(--foreground);
}

.bg-beige {
  background: var(--background);
}

.bg-light {
  background: var(--ligth);
}

.text-primary {
  color: var(--text-primary);
}

.bg-green-1 {
  background-color: var(--green-1);
}

.bg-green-2 {
  background-color: var(--green-2);
}

.bg-yellow{
  background-color: var(--yellow);
}

.bg-red{
  background-color: var(--red);
}